.admin
  .menu
    position: fixed
    left: 0
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    width: 200px
    button
      padding: 10px
      background-color: lighten(#b0a171, 10)
      border: 1px solid #fff
      &:hover
        background-color: #b0a171
      &:active
        background-color: darken(#b0a171, 10)
      &:focus
        outline: none
  .content
    margin-left: 210px
