.contacts_main
  margin-top: 165px
  margin-bottom: 100px
  width: 100%
  text-align: center
  hr
    width: 110px
  p
    text-transform: uppercase
    font-style: italic
    font-size: 20px
    margin-top: 8px
  p#town
    margin-top: 25px
    
@media screen and (max-width: 560px)
  .contacts_main
    p
      font-size: 18px