.inform
  transition: 0.5s opacity
  opacity: 0
  margin-top: 60px
  margin-bottom: 90px
  .tabs
    display: flex
    justify-content: space-around
    hr
      width: 100%
    .active-tab-header
      color: darken(#aea79d, 20)
      font-weight: bold