@import "smart-grid"

.theme
  padding-top: 160px
  padding-bottom: 160px 
  background: url("../img/theme-bg.png") 100% 100%
  .theme_content
    +row-flex()
    +md(justify-content, center)
    .card
      +col()
      +size(6)
      +size-sm(8)
      +size-xs(10)
      +shift-left(3)
      +shift-md-left(0)
      height: 240px
      background-color: #fff
      border: 2px solid #b0a171
      outline: 15px solid #fff
      display: flex
      justify-content: center
      align-items: center
      .card_content
        width: 60%
        text-align: center
        color: #b0a171
        text-transform: uppercase
        hr
          border: none
          height: 2px
          color: #b0a171
          background-color: #b0a171
        span
          font-size: 24px
        #name
          font-size: 27.5px
          
@media screen and (max-width: 560px)
  .theme
    padding-top: 100px
    padding-bottom: 100px
    .theme_content
      .card
        height: 180px
        .card_content
          span
            font-size: 20px